In [360]:
import pandas as pd
from zipfile import ZipFile
import numpy as np
import os
from tabulate import tabulate
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import neighbors, datasets
from sklearn.ensemble import RandomForestClassifier
#from sklearn.lda import LDA
from statsmodels.discrete.discrete_model import MNLogit
from sklearn.metrics import confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.metrics import classification_report
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics
import sklearn.linear_model as linear_model

# Content:
* 1. Data Cleaning and Processing
* 2. Feature selection
* 3. Build the logit model to do the interpretation

# 1. Data Cleaning and Processing

## 1.1 tax data

Tax Data: CDC STATE System Tobacco Legislation - Tax： https://chronicdata.cdc.gov/Legislation/CDC-STATE-System-Tobacco-Legislation-Tax/2dwv-vfam

In [2]:
!curl https://chronicdata.cdc.gov/api/views/2dwv-vfam/rows.csv?accessType=DOWNLOAD > Tax.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 33.5M    0 33.5M    0     0  2748k      0 --:--:--  0:00:12 --:--:-- 3051k

In [3]:
#Pick the Cigeratte tax rate in 2017
tax = pd.read_csv('Tax.csv')
tax17 = tax[tax['Year']==2017]
tax17.head()

/Users/A123/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,Quarter,LocationAbbr,LocationDesc,TopicDesc,MeasureDesc,DataSource,ProvisionGroupDesc,ProvisionDesc,ProvisionValue,...,Comments,Enacted_Date,Effective_Date,GeoLocation,DisplayOrder,TopicTypeId,TopicId,MeasureId,ProvisionGroupID,ProvisionID
120339,2017,1,MN,Minnesota,Legislation - Tax Combustible Tobacco,Little Cigar,OSH,Restrictions,Little Cigar Tax ($ per pack of 20),3.0400,...,NaN,10/31/2016,1/1/2017,"(46.35564873600049, -94.79420050299967)",2,LEG,1010LEG,672LCG,10GRP,417
121546,2017,2,CA,California,Legislation - Tax Combustible Tobacco,Little Cigar,OSH,Restrictions,Little Cigar Tax ($ per pack of 20),2.8700,...,Currently products labeled as little or small ...,10/31/2016,4/1/2017,"(37.63864012300047, -120.99999953799971)",2,LEG,1010LEG,672LCG,10GRP,417
121547,2017,2,CA,California,Legislation - Tax Combustible Tobacco,Cigarette,OSH,Restrictions,Cigarette Tax ($ per pack),2.870,...,NaN,10/31/2016,4/1/2017,"(37.63864012300047, -120.99999953799971)",5,LEG,1010LEG,670CGR,10GRP,411
121548,2017,1,MI,Michigan,Legislation - Tax Stamp,Tax Stamp,OSH,Requirements,Barcode/Scannable Code Required,Yes,...,NaN,6/20/2012,6/20/2012,"(44.6613195430005, -84.71439026999968)",2,LEG,1030LEG,690CET,12GRP,350
121549,2017,1,RI,Rhode Island,Legislation - Tax Non-Combustible Tobacco,Dry Snuff Tobacco,OSH,Restrictions,Dry Snuff Tobacco Tax,Yes,...,NaN,1/1/1995,1/1/1995,"(41.70828019300046, -71.52247031399963)",1,LEG,1020LEG,682EDS,10GRP,392

In [46]:
tax_value = tax17[tax17['ProvisionDesc'] == 'Cigarette Tax ($ per pack)'].sort_values('LocationDesc')
tax_value = tax_value.groupby('LocationDesc').max()
tax_value = tax_value[['ProvisionAltValue']]
tax_value.rename(columns={'ProvisionAltValue':'Cigarette_tax'}, inplace=True)
tax_value.reset_index(inplace=True)
tax_value.head()

     LocationDesc  Cigarette_tax
0         Alabama          0.675
1          Alaska          2.000
2  American Samoa          6.000
3         Arizona          2.000
4        Arkansas          1.150

## 1.2 BRFSS data

2017 BRFSS Survey Data and Documentation https://www.cdc.gov/brfss/annual_data/annual_2017.html

In [5]:
#!curl https://www.cdc.gov/brfss/annual_data/2017/files/LLCP2017XPT.zip > healthdata17.zip

In [6]:
file = 'llcp2017_formatted.csv'
df = pd.read_csv(file)

/Users/A123/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,170,174) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
df.head()

,STATE FIPS CODE,FILE MONTH,INTERVIEW DATE,INTERVIEW MONTH,INTERVIEW DAY,INTERVIEW YEAR,FINAL DISPOSITION,ANNUAL SEQUENCE NUMBER,PRIMARY SAMPLING UNIT,CORRECT TELEPHONE NUMBER?,...,_IMPCAGE,_IMPCRAC,_IMPCSEX,_IMPEDUC,_IMPHOME,_IMPMRTL,_IMPNPH,_IMPSEX,_M_RACE,_URBNRRL
0,Alabama,January,1302017,01,30,2017,1100,2017000001,2017000001,Yes,...,Not asked or Missing,Missing,Missing,Missing,Missing,Missing,NaN,Not asked or Missing,Not asked or Missing,Missing
1,Alabama,January,1122017,01,12,2017,1100,2017000002,2017000002,Yes,...,Not asked or Missing,Missing,Missing,Missing,Missing,Missing,NaN,Not asked or Missing,Not asked or Missing,Missing
2,Alabama,January,1102017,01,10,2017,1100,2017000003,2017000003,Yes,...,Not asked or Missing,Missing,Missing,Missing,Missing,Missing,NaN,Not asked or Missing,Not asked or Missing,Missing
3,Alabama,January,2082017,02,8,2017,1200,2017000004,2017000004,Yes,...,Not asked or Missing,Missing,Missing,Missing,Missing,Missing,NaN,Not asked or Missing,Not asked or Missing,Missing
4,Alabama,January,1302017,01,30,2017,1100,2017000005,2017000005,Yes,...,Not asked or Missing,Missing,Missing,Missing,Missing,Missing,NaN,Not asked or Missing,Not asked or Missing,Missing

### The computed and calculated columns are cleaned data and have fewer missing values

In [58]:
filterList = ['COMPUTED', 'CALCULATED']
def containsKeyword(sent):
    for f in filterList:
        if f in sent:
            return True
    return False
    
cols41 = [c for c in df.columns if containsKeyword(c)]
print("Number of calculated/computed columns: ",len(cols41))
cols41

Number of calculated/computed columns:  41

['COMPUTED PHYSICAL HEALTH STATUS',
 'COMPUTED MENTAL HEALTH STATUS',
 'HIGH BLOOD PRESSURE CALCULATED VARIABLE',
 'CHOLESTEROL CHECKED CALCULATED VARIABLE',
 'HIGH CHOLESTEROL CALCULATED VARIABLE',
 'LIFETIME ASTHMA CALCULATED VARIABLE',
 'CURRENT ASTHMA CALCULATED VARIABLE',
 'COMPUTED ASTHMA STATUS',
 'COMPUTED PREFERRED RACE',
 'CALCULATED NON-HISPANIC RACE INCLUDING M',
 'COMPUTED RACE-ETHNICITY GROUPING',
 'COMPUTED NON-HISPANIC WHITES/ALL OTHERS',
 'COMPUTED FIVE LEVEL RACE/ETHNICITY CATEG',
 'COMPUTED RACE GROUPS USED FOR INTERNET P',
 'COMPUTED HEIGHT IN INCHES',
 'COMPUTED HEIGHT IN METERS',
 'COMPUTED WEIGHT IN KILOGRAMS',
 'COMPUTED BODY MASS INDEX',
 'COMPUTED BODY MASS INDEX CATEGORIES',
 'OVERWEIGHT OR OBESE CALCULATED VARIABLE',
 'COMPUTED NUMBER OF CHILDREN IN HOUSEHOLD',
 'COMPUTED LEVEL OF EDUCATION COMPLETED CA',
 'COMPUTED INCOME CATEGORIES',
 'COMPUTED SMOKING STATUS',
 'CURRENT SMOKING CALCULATED VARIABLE',
 'COMPUTED E-CIGARETTE USER STATUS',
 'CURRENT E-CIGARETTE USER CALCULATED VARI',
 'COMPUTED DRINK-OCCASIONS-PER-DAY',
 'BINGE DRINKING CALCULATED VARIABLE',
 'COMPUTED NUMBER OF DRINKS OF ALCOHOL BEV',
 'HEAVY ALCOHOL CONSUMPTION  CALCULATED VA',
 'COMPUTED FRUIT JUICE INTAKE IN TIMES PER',
 'COMPUTED FRUIT INTAKE IN TIMES PER DAY',
 'COMPUTED DARK GREEN VEGETABLE INTAKE IN',
 'COMPUTED POTATO SERVINGS PER DAY',
 'COMPUTED OTHER VEGETABLE INTAKE IN TIMES',
 '150 MINUTE PHYSICAL ACTIVITY CALCULATED',
 '300 MINUTE PHYSICAL ACTIVITY CALCULATED',
 'FLU SHOT CALCULATED VARIABLE',
 'PNEUMONIA VACCINATION CALCULATED VARIABL',
 'EVER BEEN TESTED FOR HIV CALCULATED VARI']

In [ ]:
cols = cols41.copy()
cols.append('STATE FIPS CODE')

In [62]:
df_use = df[cols]
df_use.shape

(450642, 42)

## 1.3 Merge the tax data with smoke data

In [273]:
df_cut = pd.merge(df_use, tax_value, left_on='STATE FIPS CODE', right_on='LocationDesc')

In [274]:
df_cut.shape

(450642, 44)

In [275]:
df_cut.drop(['LocationDesc'], axis=1, inplace=True)

In [276]:
df_cut.shape

(450642, 43)

In [277]:
df_cut.head()

,COMPUTED PHYSICAL HEALTH STATUS,COMPUTED MENTAL HEALTH STATUS,HIGH BLOOD PRESSURE CALCULATED VARIABLE,CHOLESTEROL CHECKED CALCULATED VARIABLE,HIGH CHOLESTEROL CALCULATED VARIABLE,LIFETIME ASTHMA CALCULATED VARIABLE,CURRENT ASTHMA CALCULATED VARIABLE,COMPUTED ASTHMA STATUS,COMPUTED PREFERRED RACE,CALCULATED NON-HISPANIC RACE INCLUDING M,...,COMPUTED DARK GREEN VEGETABLE INTAKE IN,COMPUTED POTATO SERVINGS PER DAY,COMPUTED OTHER VEGETABLE INTAKE IN TIMES,150 MINUTE PHYSICAL ACTIVITY CALCULATED,300 MINUTE PHYSICAL ACTIVITY CALCULATED,FLU SHOT CALCULATED VARIABLE,PNEUMONIA VACCINATION CALCULATED VARIABL,EVER BEEN TESTED FOR HIV CALCULATED VARI,STATE FIPS CODE,Cigarette_tax
0,Zero days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,Yes,No,No,Never,White,White only,...,43.0,14.0,100.0,150+ minutes (or vigorous equivalent minutes) ...,301+ minutes (or vigorous equivalent minutes)...,Yes,Yes,Yes,Alabama,0.675
1,Zero days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,No,No,No,Never,White,White only,...,100.0,0.0,100.0,150+ minutes (or vigorous equivalent minutes) ...,301+ minutes (or vigorous equivalent minutes)...,Yes,Yes,Yes,Alabama,0.675
2,Zero days when physical health not good,Zero days when mental health not good,No,Had cholesterol checked in past 5 years,Yes,No,No,Never,White,White only,...,14.0,0.0,14.0,0 minutes (or vigorous equivalent minutes) of ...,0 minutes (or vigorous equivalent minutes) of...,Yes,Yes,No,Alabama,0.675
3,Zero days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,Yes,No,No,Never,White,White only,...,NaN,NaN,NaN,Don�t know/Not Sure/Refused/Missing,Don�t know/Not Sure/Refused/Missing,Don�t know/Not Sure Or Refused/Missing,Don�t know/Not Sure Or Refused/Missing,Not asked or missing,Alabama,0.675
4,14+ days when physical health not good,Zero days when mental health not good,No,Had cholesterol checked in past 5 years,No,Yes,Yes,Current,White,White only,...,14.0,14.0,10.0,0 minutes (or vigorous equivalent minutes) of ...,0 minutes (or vigorous equivalent minutes) of...,No,No,No,Alabama,0.675

### Create the new feature (smoke_status) to indicate the smoker/e-smoker/both/none

In [278]:
#ecigdf = Data41.copy()
df_cut.rename(columns={'CURRENT E-CIGARETTE USER CALCULATED VARI': 'E_SMOKE', \
                     'CURRENT SMOKING CALCULATED VARIABLE':'SMOKE'},inplace = True)


mapper = {'Current E-cigarette user': 'Yes', 'Not currently using E-cigarettes': 'No' }
df_cut['E_SMOKE'] = df_cut['E_SMOKE'].map(mapper)
print("data size: ",len(df_cut))
df_cut = df_cut[df_cut['E_SMOKE'].apply(lambda x: x in ['Yes','No']) ]
df_cut = df_cut[df_cut['E_SMOKE'].apply(lambda x: x in ['Yes','No']) ]
print("clean data size: ",len(df_cut))
print("Frequency distributions:")
print(df_cut['E_SMOKE'].value_counts())
print(df_cut['SMOKE'].value_counts())

data size:  450642
clean data size:  429964
Frequency distributions:
No     416275
Yes     13689
Name: E_SMOKE, dtype: int64
No                            364794
Yes                            62732
Don�t know/Refused/Missing      2438
Name: SMOKE, dtype: int64

In [279]:
df_cut.loc[(df_cut['SMOKE']=='Yes')&(df_cut['E_SMOKE']=='Yes'),'smoke_type']='B'
df_cut.loc[(df_cut['SMOKE']=='No')&(df_cut['E_SMOKE']=='Yes'),'smoke_type']='E'
df_cut.loc[(df_cut['SMOKE']=='Yes')&(df_cut['E_SMOKE']=='No'),'smoke_type']='S'
df_cut.loc[(df_cut['SMOKE']=='No')&(df_cut['E_SMOKE']=='No'),'smoke_type']='N'
df_cut['smoke_type'].value_counts()

N    358383
S     55523
B      7209
E      6411
Name: smoke_type, dtype: int64

In [280]:
# Find the columns that contain original smoking key word
filterList = ['SMOK','CIG']
def containsKeyword(sent):
    for f in filterList:
        if f in sent:
            return True
    return False
    
smokecols = [c for c in df_cut.columns if containsKeyword(c)]
smokecols

['COMPUTED SMOKING STATUS',
 'SMOKE',
 'COMPUTED E-CIGARETTE USER STATUS',
 'E_SMOKE']

In [281]:
df_clean = df_cut.drop(smokecols, axis=1)

In [282]:
print("NANs for numeric variables")
[ (c, np.sum(np.isnan(df_clean[c])))  for c in df_clean.columns if np.issubdtype(df_clean[c].dtype, np.number) ]

NANs for numeric variables

[('COMPUTED WEIGHT IN KILOGRAMS', 21500),
 ('COMPUTED FRUIT JUICE INTAKE IN TIMES PER', 13362),
 ('COMPUTED FRUIT INTAKE IN TIMES PER DAY', 13717),
 ('COMPUTED DARK GREEN VEGETABLE INTAKE IN', 13386),
 ('COMPUTED POTATO SERVINGS PER DAY', 16794),
 ('COMPUTED OTHER VEGETABLE INTAKE IN TIMES', 17342),
 ('Cigarette_tax', 0)]

In [283]:
print("Records: ",len(df_clean))
df_clean = df_clean.dropna()
print("Records after cleaning Nan: ",len(df_clean))

Records:  429964
Records after cleaning Nan:  377435

In [284]:
print("Infintes for numeric variables")
[ (c, np.sum(np.isinf(df_clean[c])))  for c in df_clean.columns if np.issubdtype(df_clean[c].dtype, np.number) ]

Infintes for numeric variables

[('COMPUTED WEIGHT IN KILOGRAMS', 0),
 ('COMPUTED FRUIT JUICE INTAKE IN TIMES PER', 0),
 ('COMPUTED FRUIT INTAKE IN TIMES PER DAY', 0),
 ('COMPUTED DARK GREEN VEGETABLE INTAKE IN', 0),
 ('COMPUTED POTATO SERVINGS PER DAY', 0),
 ('COMPUTED OTHER VEGETABLE INTAKE IN TIMES', 0),
 ('Cigarette_tax', 0)]

In [285]:
df_clean.shape

(377435, 40)

In [286]:
df_clean.head()

,COMPUTED PHYSICAL HEALTH STATUS,COMPUTED MENTAL HEALTH STATUS,HIGH BLOOD PRESSURE CALCULATED VARIABLE,CHOLESTEROL CHECKED CALCULATED VARIABLE,HIGH CHOLESTEROL CALCULATED VARIABLE,LIFETIME ASTHMA CALCULATED VARIABLE,CURRENT ASTHMA CALCULATED VARIABLE,COMPUTED ASTHMA STATUS,COMPUTED PREFERRED RACE,CALCULATED NON-HISPANIC RACE INCLUDING M,...,COMPUTED POTATO SERVINGS PER DAY,COMPUTED OTHER VEGETABLE INTAKE IN TIMES,150 MINUTE PHYSICAL ACTIVITY CALCULATED,300 MINUTE PHYSICAL ACTIVITY CALCULATED,FLU SHOT CALCULATED VARIABLE,PNEUMONIA VACCINATION CALCULATED VARIABL,EVER BEEN TESTED FOR HIV CALCULATED VARI,STATE FIPS CODE,Cigarette_tax,smoke_type
0,Zero days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,Yes,No,No,Never,White,White only,...,14.0,100.0,150+ minutes (or vigorous equivalent minutes) ...,301+ minutes (or vigorous equivalent minutes)...,Yes,Yes,Yes,Alabama,0.675,N
1,Zero days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,No,No,No,Never,White,White only,...,0.0,100.0,150+ minutes (or vigorous equivalent minutes) ...,301+ minutes (or vigorous equivalent minutes)...,Yes,Yes,Yes,Alabama,0.675,N
2,Zero days when physical health not good,Zero days when mental health not good,No,Had cholesterol checked in past 5 years,Yes,No,No,Never,White,White only,...,0.0,14.0,0 minutes (or vigorous equivalent minutes) of ...,0 minutes (or vigorous equivalent minutes) of...,Yes,Yes,No,Alabama,0.675,N
4,14+ days when physical health not good,Zero days when mental health not good,No,Had cholesterol checked in past 5 years,No,Yes,Yes,Current,White,White only,...,14.0,10.0,0 minutes (or vigorous equivalent minutes) of ...,0 minutes (or vigorous equivalent minutes) of...,No,No,No,Alabama,0.675,N
5,1-13 days when physical health not good,Zero days when mental health not good,Yes,Had cholesterol checked in past 5 years,No,No,No,Never,White,White only,...,43.0,100.0,1-149 minutes (or vigorous equivalent minutes...,1-300 minutes (or vigorous equivalent minutes...,Yes,No,No,Alabama,0.675,S

### Explor the value_counts and convert to categorical data

In [287]:
for c in df_clean.columns:
    print(c)
    print(df_clean[c].value_counts())
    print()

COMPUTED PHYSICAL HEALTH STATUS
Zero days when physical health not good    231350
1-13 days when physical health not good     89039
14+ days when physical health not good      51159
Don�t know/Refused/Missing                   5887
Name: COMPUTED PHYSICAL HEALTH STATUS, dtype: int64

COMPUTED MENTAL HEALTH STATUS
Zero days when mental health not good    249912
1-13 days when mental health not good     81102
14+ days when mental health not good      41924
Don�t know/Refused/Missing                 4497
Name: COMPUTED MENTAL HEALTH STATUS, dtype: int64

HIGH BLOOD PRESSURE CALCULATED VARIABLE
No                                     224995
Yes                                    151664
Don�t know/Not Sure/Refused/Missing       776
Name: HIGH BLOOD PRESSURE CALCULATED VARIABLE, dtype: int64

CHOLESTEROL CHECKED CALCULATED VARIABLE
Had cholesterol checked in past 5 years             325408
Have never had cholesterol checked                   21913
Don�t know/Not Sure Or Refused/Missing               15970
Did not have cholesterol checked in past 5 years     14144
Name: CHOLESTEROL CHECKED CALCULATED VARIABLE, dtype: int64

HIGH CHOLESTEROL CALCULATED VARIABLE
No         203309
Yes        133894
Missing     40232
Name: HIGH CHOLESTEROL CALCULATED VARIABLE, dtype: int64

LIFETIME ASTHMA CALCULATED VARIABLE
No                                        323845
Yes                                        52573
Don�t know/Not Sure Or Refused/Missing      1017
Name: LIFETIME ASTHMA CALCULATED VARIABLE, dtype: int64

CURRENT ASTHMA CALCULATED VARIABLE
No                                        339662
Yes                                        35380
Don�t know/Not Sure Or Refused/Missing      2393
Name: CURRENT ASTHMA CALCULATED VARIABLE, dtype: int64

COMPUTED ASTHMA STATUS
Never                                     323845
Current                                    35380
Former                                     15817
Don�t know/Not Sure Or Refused/Missing      2393
Name: COMPUTED ASTHMA STATUS, dtype: int64

COMPUTED PREFERRED RACE
White                                        310031
Black or African American                     30809
Asian                                          9074
American Indian or Alaskan Native              8613
Other race                                     7887
Refused                                        4331
Don�t know/Not sure                            2869
Native Hawaiian or other Pacific Islander      2675
No preferred race                              1146
Name: COMPUTED PREFERRED RACE, dtype: int64

CALCULATED NON-HISPANIC RACE INCLUDING M
White only                                        306117
Black or African American only                     29827
Multiracial                                         8817
Asian Only                                          8371
American Indian or Alaskan Native only              7858
Other race only                                     7663
Refused                                             4331
Don�t know/Not sure                                 2869
Native Hawaiian or other Pacific Islander only      1582
Name: CALCULATED NON-HISPANIC RACE INCLUDING M, dtype: int64

COMPUTED RACE-ETHNICITY GROUPING
White only, non-Hispanic                                        287877
Hispanic                                                         30054
Black only, non-Hispanic                                         28362
Asian only, non-Hispanic                                          8128
Multiracial, non-Hispanic                                         7856
American Indian or Alaskan Native only, Non-Hispanic              6714
Don�t know/Not sure/Refused                                       5407
Other race only, non-Hispanic                                     1742
Native Hawaiian or other Pacific Islander only, Non-Hispanic      1295
Name: COMPUTED RACE-ETHNICITY GROUPING, dtype: int64

COMPUTED NON-HISPANIC WHITES/ALL OTHERS
Non-Hispanic White             287877
Non-White or Hispanic           84151
Don�t know/Not sure/Refused      5407
Name: COMPUTED NON-HISPANIC WHITES/ALL OTHERS, dtype: int64

COMPUTED FIVE LEVEL RACE/ETHNICITY CATEG
White only, Non-Hispanic         287877
Hispanic                          30054
Black only, Non-Hispanic          28362
Other race only, Non-Hispanic     17879
Multiracial, Non-Hispanic          7856
Don�t know/Not sure/Refused        5407
Name: COMPUTED FIVE LEVEL RACE/ETHNICITY CATEG, dtype: int64

COMPUTED RACE GROUPS USED FOR INTERNET P
White - Non-Hispanic                              287877
Hispanic                                           30054
Black - Non-Hispanic                               28362
Other race only, Non-Hispanic                      17879
Multiracial, Non-Hispanic                           7856
Don�t know/Not sure/Refused component question      5407
Name: COMPUTED RACE GROUPS USED FOR INTERNET P, dtype: int64

COMPUTED HEIGHT IN INCHES
Height in inches                           373422
Don�t know/Refused/Not asked or Missing      4013
Name: COMPUTED HEIGHT IN INCHES, dtype: int64

COMPUTED HEIGHT IN METERS
Height in meters [2 implied decimal places]    374649
Don�t know/Refused/Not asked or Missing          2786
Name: COMPUTED HEIGHT IN METERS, dtype: int64

COMPUTED WEIGHT IN KILOGRAMS
9072.0     20492
8165.0     18726
6804.0     17986
7257.0     17145
7711.0     15466
8618.0     13341
6350.0     12992
7938.0     11068
7484.0     10274
5897.0     10039
8391.0      9592
9979.0      9555
9525.0      8752
6577.0      8444
6123.0      8101
7031.0      7768
10433.0     7235
11340.0     7026
8845.0      6682
5443.0      6429
10886.0     6142
5670.0      6134
9752.0      4821
9299.0      4373
10206.0     4351
11793.0     3462
5216.0      3275
4990.0      2907
10659.0     2712
13608.0     2243
           ...
4800.0         1
19187.0        1
19100.0        1
19096.0        1
4600.0         1
24000.0        1
18900.0        1
13400.0        1
9300.0         1
18552.0        1
2313.0         1
15200.0        1
19500.0        1
19550.0        1
2449.0         1
27500.0        1
27261.0        1
19913.0        1
20049.0        1
20100.0        1
20457.0        1
26082.0        1
20500.0        1
25855.0        1
20548.0        1
12900.0        1
10300.0        1
2585.0         1
20729.0        1
13900.0        1
Name: COMPUTED WEIGHT IN KILOGRAMS, Length: 547, dtype: int64

COMPUTED BODY MASS INDEX
1 or greater                  372461
Don�t know/Refused/Missing      4974
Name: COMPUTED BODY MASS INDEX, dtype: int64

COMPUTED BODY MASS INDEX CATEGORIES
Overweight                    134342
Obese                         116720
Normal Weight                 115421
Underweight                     5978
Don�t know/Refused/Missing      4974
Name: COMPUTED BODY MASS INDEX CATEGORIES, dtype: int64

OVERWEIGHT OR OBESE CALCULATED VARIABLE
Yes                           251062
No                            121399
Don�t know/Refused/Missing      4974
Name: OVERWEIGHT OR OBESE CALCULATED VARIABLE, dtype: int64

COMPUTED NUMBER OF CHILDREN IN HOUSEHOLD
No children in household              277616
One child in household                 40628
Two children in household              34535
Three children in household            15114
Four children in household              5637
Five or more children in household      2894
Don�t know/Not sure/Missing             1011
Name: COMPUTED NUMBER OF CHILDREN IN HOUSEHOLD, dtype: int64

COMPUTED LEVEL OF EDUCATION COMPLETED CA
Graduated from College or Technical School    147102
Attended College or Technical School          105242
Graduated High School                          99427
Did not graduate High School                   24999
Don�t know/Not sure/Missing                      665
Name: COMPUTED LEVEL OF EDUCATION COMPLETED CA, dtype: int64

COMPUTED INCOME CATEGORIES
$50,000 or more                 164678
$15,000 to less than $25,000     52298
Don�t know/Not sure/Missing      48252
$35,000 to less than $50,000     46639
$25,000 to less than $35,000     34336
Less than $15,000                31232
Name: COMPUTED INCOME CATEGORIES, dtype: int64

COMPUTED DRINK-OCCASIONS-PER-DAY
Drink-Occasions per day                   199921
No Drink-Occasions per day                174881
Don�t know/Not Sure Or Refused/Missing      2633
Name: COMPUTED DRINK-OCCASIONS-PER-DAY, dtype: int64

BINGE DRINKING CALCULATED VARIABLE
No                            321405
Yes                            51460
Don�t know/Refused/Missing      4570
Name: BINGE DRINKING CALCULATED VARIABLE, dtype: int64

COMPUTED NUMBER OF DRINKS OF ALCOHOL BEV

Number of drinks per week              197271
Did not drink                          174881
Don�t know/Not sure/Refused/Missing      5283
Name: COMPUTED NUMBER OF DRINKS OF ALCOHOL BEV, dtype: int64

HEAVY ALCOHOL CONSUMPTION  CALCULATED VA
No                            349727
Yes                            22336
Don�t know/Refused/Missing      5372
Name: HEAVY ALCOHOL CONSUMPTION  CALCULATED VA, dtype: int64

COMPUTED FRUIT JUICE INTAKE IN TIMES PER
0.0       155764
100.0      56459
14.0       24688
29.0       22399
7.0        17438
3.0        17027
43.0       16056
2.0         8937
10.0        7743
17.0        6797
200.0       6522
57.0        6487
13.0        5094
33.0        4535
71.0        4190
50.0        3906
67.0        2161
300.0       2101
20.0        1771
23.0        1302
27.0         865
86.0         766
83.0         634
400.0        623
40.0         567
500.0        435
47.0         346
700.0        332
143.0        203
600.0         98
           ...
110.0          3
293.0          3
183.0          3
457.0          2
137.0          2
186.0          2
243.0          2
714.0          2
250.0          2
107.0          2
160.0          1
1071.0         1
267.0          1
130.0          1
514.0          1
471.0          1
229.0          1
2200.0         1
2800.0         1
283.0          1
140.0          1
233.0          1
386.0          1
1600.0         1
2600.0         1
163.0          1
900.0          1
2400.0         1
1414.0         1
253.0          1
Name: COMPUTED FRUIT JUICE INTAKE IN TIMES PER, Length: 101, dtype: int64

COMPUTED FRUIT INTAKE IN TIMES PER DAY
100.0     113865
200.0      65310
43.0       31036
300.0      25025
29.0       23078
57.0       18148
71.0       14403
14.0       11627
0.0        11019
7.0         6886
17.0        5820
10.0        5537
33.0        5327
400.0       4866
50.0        4665
3.0         4158
13.0        4039
67.0        3921
86.0        2528
500.0       2349
20.0        1864
2.0         1676
83.0        1405
143.0       1227
23.0        1124
27.0         930
40.0         825
700.0        706
600.0        515
114.0        386
           ...
4000.0         2
643.0          2
307.0          2
457.0          2
317.0          2
123.0          2
3300.0         1
2600.0         1
3600.0         1
113.0          1
514.0          1
160.0          1
1071.0         1
857.0          1
130.0          1
207.0          1
1300.0         1
203.0          1
757.0          1
187.0          1
2300.0         1
3500.0         1
2900.0         1
4200.0         1
173.0          1
1343.0         1
8000.0         1
213.0          1
280.0          1
223.0          1
Name: COMPUTED FRUIT INTAKE IN TIMES PER DAY, Length: 127, dtype: int64

COMPUTED DARK GREEN VEGETABLE INTAKE IN
100.0     76819
43.0      46328
29.0      42147
14.0      33393
57.0      27480
0.0       25774
71.0      18761
200.0     14626
7.0       12012
50.0       9340
3.0        8946
67.0       7855
33.0       7509
10.0       7311
17.0       7128
13.0       6089
86.0       3213
83.0       3185
300.0      3002
2.0        2758
20.0       2734
40.0       1719
23.0       1706
27.0       1670
400.0       777
500.0       671
700.0       493
47.0        443
93.0        385
143.0       329
          ...
1200.0        2
3100.0        2
1414.0        2
173.0         2
107.0         2
2600.0        2
217.0         1
343.0         1
187.0         1
471.0         1
486.0         1
786.0         1
123.0         1
4000.0        1
386.0         1
529.0         1
313.0         1
137.0         1
1600.0        1
9000.0        1
140.0         1
9100.0        1
5500.0        1
686.0         1
2300.0        1
2700.0        1
6000.0        1
5300.0        1
1300.0        1
183.0         1
Name: COMPUTED DARK GREEN VEGETABLE INTAKE IN, Length: 118, dtype: int64

COMPUTED POTATO SERVINGS PER DAY
14.0      63668
29.0      49951
0.0       44492
7.0       34875
43.0      30278
3.0       26704
10.0      19465
17.0      16315
13.0      14510
100.0     14052
57.0      11911
33.0      11420
50.0       6497
71.0       5571
2.0        5161
20.0       5106
67.0       4303
27.0       2836
23.0       2669
40.0       1557
200.0      1252
86.0       1035
83.0        976
300.0       480
47.0        348
30.0        255
400.0       205
60.0        179
53.0        169
500.0       146
          ...
117.0         7
5000.0        7
186.0         6
107.0         5
110.0         5
7500.0        5
157.0         5
357.0         5
800.0         4
314.0         3
9900.0        3
471.0         3
457.0         3
293.0         2
329.0         2
183.0         2
137.0         2
267.0         1
257.0         1
1800.0        1
7000.0        1
210.0         1
1200.0        1
743.0         1
1400.0        1
1100.0        1
170.0         1
5300.0        1
1300.0        1
127.0         1
Name: COMPUTED POTATO SERVINGS PER DAY, Length: 89, dtype: int64

COMPUTED OTHER VEGETABLE INTAKE IN TIMES
100.0     135753
200.0      45755
43.0       30414
29.0       23668
57.0       21960
71.0       18982
14.0       13975
0.0         9405
300.0       9226
67.0        9147
50.0        7373
33.0        6224
86.0        5111
7.0         4659
17.0        4460
83.0        4272
10.0        3409
13.0        3351
3.0         2895
20.0        1888
400.0       1881
2.0         1392
40.0        1336
27.0        1316
500.0       1154
23.0        1107
700.0       1107
143.0        719
93.0         589
47.0         359
           ...
514.0          4
1300.0         4
471.0          3
2100.0         3
457.0          3
160.0          2
4000.0         2
9000.0         2
213.0          2
3100.0         2
571.0          2
1800.0         2
120.0          2
486.0          2
243.0          2
343.0          1
857.0          1
5300.0         1
2400.0         1
1600.0         1
130.0          1
1043.0         1
123.0          1
4200.0         1
3200.0         1
3600.0         1
1071.0         1
203.0          1
971.0          1
140.0          1
Name: COMPUTED OTHER VEGETABLE INTAKE IN TIMES, Length: 116, dtype: int64

150 MINUTE PHYSICAL ACTIVITY CALCULATED
150+ minutes (or vigorous equivalent minutes) of physical activity      191001
0 minutes (or vigorous equivalent minutes) of physical activity         104969
1-149 minutes  (or vigorous equivalent minutes) of physical activity     67806
Don�t know/Not Sure/Refused/Missing                                      13659
Name: 150 MINUTE PHYSICAL ACTIVITY CALCULATED, dtype: int64

300 MINUTE PHYSICAL ACTIVITY CALCULATED
1-300 minutes  (or vigorous equivalent minutes) of physical activity    133832
301+ minutes  (or vigorous equivalent minutes) of physical activity     122955
0 minutes  (or vigorous equivalent minutes) of physical activity        104969
Don�t know/Not Sure/Refused/Missing                                      15679
Name: 300 MINUTE PHYSICAL ACTIVITY CALCULATED, dtype: int64

FLU SHOT CALCULATED VARIABLE
Age Less Than 65                          244092
Yes                                        79017
No                                         49484
Don�t know/Not Sure Or Refused/Missing      4842
Name: FLU SHOT CALCULATED VARIABLE, dtype: int64

PNEUMONIA VACCINATION CALCULATED VARIABL
Age Less Than 65                          244092
Yes                                        95901
No                                         29584
Don�t know/Not Sure Or Refused/Missing      7858
Name: PNEUMONIA VACCINATION CALCULATED VARIABL, dtype: int64

EVER BEEN TESTED FOR HIV CALCULATED VARI
No                             240457
Yes                            116779
Don�t know/Not Sure/Refused     10930
Not asked or missing             9269
Name: EVER BEEN TESTED FOR HIV CALCULATED VARI, dtype: int64

STATE FIPS CODE
Florida                 18127
Kansas                  17570
Minnesota               14129
Nebraska                13374
Arizona                 12711
Indiana                 11844
Washington              11160
Maryland                11102
Ohio                    10384
Texas                   10216
New York                10151
New Jersey               9608
Michigan                 9455
South Carolina           9368
Utah                     8694
Maine                    8663
Connecticut              8607
Virginia                 8118
Colorado                 7838
California               7761
Kentucky                 7187
Hawaii                   6953
Iowa                     6510
Missouri                 6430
North Dakota             6134
South Dakota             6070
Pennsylvania             5697
Massachusetts            5654
Alabama                  5645
New Mexico               5554
Vermont                  5396
Oklahoma                 5276
Montana                  5131
Illinois                 5019
Wisconsin                4978
Georgia                  4860
New Hampshire            4727
West Virginia            4712
Tennessee                4671
Rhode Island             4629
Oregon                   4409
Idaho                    4317
Arkansas                 4262
Mississippi              4247
North Carolina           4074
Puerto Rico              4026
Wyoming                  3935
Louisiana                3886
District of Columbia     3530
Delaware                 3277
Nevada                   3252
Alaska                   2776
Guam                     1331
Name: STATE FIPS CODE, dtype: int64

Cigarette_tax

2.000    44707
4.350    18758
1.339    18127
1.290    17570
3.040    14129
1.700    13825
0.570    13685
0.640    13374
0.995    11844
3.025    11160
0.600    11122
1.600    10384
1.410    10216
2.700     9608
0.300     8118
0.840     7838
2.870     7761
3.200     6953
1.360     6510
0.170     6430
0.440     6134
1.530     6070
2.600     5697
3.510     5654
0.675     5645
1.660     5554
3.080     5396
1.030     5276
1.980     5019
2.520     4978
0.370     4860
1.780     4727
1.200     4712
0.620     4671
4.250     4629
1.320     4409
1.150     4262
0.680     4247
0.450     4074
5.100     4026
1.080     3886
2.920     3530
2.100     3277
1.800     3252
3.000     1331
Name: Cigarette_tax, dtype: int64

smoke_type
N    316210
S     48998
B      6467
E      5760
Name: smoke_type, dtype: int64

In [288]:
print("Data types and unique values")
[ (df_clean[c].dtype.name,len(df_clean[c].value_counts()))  for c in df_clean.columns]

Data types and unique values

[('object', 4),
 ('object', 4),
 ('object', 3),
 ('object', 4),
 ('object', 3),
 ('object', 3),
 ('object', 3),
 ('object', 4),
 ('object', 9),
 ('object', 9),
 ('object', 9),
 ('object', 3),
 ('object', 6),
 ('object', 6),
 ('object', 2),
 ('object', 2),
 ('float64', 547),
 ('object', 2),
 ('object', 5),
 ('object', 3),
 ('object', 7),
 ('object', 5),
 ('object', 6),
 ('object', 3),
 ('object', 3),
 ('object', 3),
 ('object', 3),
 ('float64', 101),
 ('float64', 127),
 ('float64', 118),
 ('float64', 89),
 ('float64', 116),
 ('object', 4),
 ('object', 4),
 ('object', 4),
 ('object', 4),
 ('object', 4),
 ('object', 53),
 ('float64', 45),
 ('object', 4)]

In [289]:
df_categ = df_clean.copy()
for c in df_categ.columns:
    if df_categ[c].dtype.name == 'object':
        df_categ[c] = labelencoder.fit_transform(df_categ[c])
df_categ.head()

,COMPUTED PHYSICAL HEALTH STATUS,COMPUTED MENTAL HEALTH STATUS,HIGH BLOOD PRESSURE CALCULATED VARIABLE,CHOLESTEROL CHECKED CALCULATED VARIABLE,HIGH CHOLESTEROL CALCULATED VARIABLE,LIFETIME ASTHMA CALCULATED VARIABLE,CURRENT ASTHMA CALCULATED VARIABLE,COMPUTED ASTHMA STATUS,COMPUTED PREFERRED RACE,CALCULATED NON-HISPANIC RACE INCLUDING M,...,COMPUTED POTATO SERVINGS PER DAY,COMPUTED OTHER VEGETABLE INTAKE IN TIMES,150 MINUTE PHYSICAL ACTIVITY CALCULATED,300 MINUTE PHYSICAL ACTIVITY CALCULATED,FLU SHOT CALCULATED VARIABLE,PNEUMONIA VACCINATION CALCULATED VARIABL,EVER BEEN TESTED FOR HIV CALCULATED VARI,STATE FIPS CODE,Cigarette_tax,smoke_type
0,3,3,2,2,2,1,1,3,8,8,...,14.0,100.0,2,2,3,3,3,0,0.675,2
1,3,3,2,2,1,1,1,3,8,8,...,0.0,100.0,2,2,3,3,3,0,0.675,2
2,3,3,1,2,2,1,1,3,8,8,...,0.0,14.0,0,0,3,3,1,0,0.675,2
4,1,3,1,2,1,2,2,0,8,8,...,14.0,10.0,0,0,2,2,1,0,0.675,2
5,0,3,2,2,1,1,1,3,8,8,...,43.0,100.0,1,1,3,2,1,0,0.675,3

In [290]:
print(df_clean['smoke_type'].value_counts())

N    316210
S     48998
B      6467
E      5760
Name: smoke_type, dtype: int64

### Note: This data set has serious class imbalance issue

In [291]:
#Address class imbalance:
def classImballanceDownSample(df,ycol):
    df = df.copy()
    valueCount = df[ycol].value_counts()
    print("Before Class Imballance Treatment: ")
    print(valueCount)
    classes = valueCount.index
    counts = valueCount.values
    minClassSize = np.min(counts)
    for clas in classes:
        df1 = df[df[ycol]==clas]
        df2 = df[df[ycol]!=clas]
        
        df1 = df1.sample(n=minClassSize, random_state=50)
        df = df1.append(df2)
    #shuffling the dataframe
    df = df.sample(frac=1).reset_index(drop=True)
    print("After Class Imballance Treatment: ")
    print(df[ycol].value_counts())
    return df

In [292]:
df_categ = classImballanceDownSample(df_categ, 'smoke_type')

Before Class Imballance Treatment:
2    316210
3     48998
0      6467
1      5760
Name: smoke_type, dtype: int64
After Class Imballance Treatment:
3    5760
2    5760
1    5760
0    5760
Name: smoke_type, dtype: int64

In [293]:
df_categ.shape

(23040, 40)

In [294]:
label = df_categ[['smoke_type']]
X = df_categ.drop(['smoke_type'], axis=1)

In [295]:
label.shape

(23040, 1)

In [296]:
X.shape

(23040, 39)

In [297]:
#0:Both; 1: E-smoker; 2: None 3: Smoker
for c in label.columns:
    print(c)
    print(label[c].value_counts())
    print()

smoke_type
3    5760
2    5760
1    5760
0    5760
Name: smoke_type, dtype: int64

# 2. Feature selection

### 2.1 Random Forest (RF) Classifier

In [298]:
X_train, X_test, Y_train, Y_test = train_test_split(X, label, test_size=0.33, random_state=100)
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

(15436, 39) (15436, 1) (7604, 39) (7604, 1)

In [299]:
#fit Random Forest and test the accuracy:
def RandomForest(x_train, y_train, x_test, y_test):   
    rf = RandomForestClassifier(n_estimators=100)
    rf.fit(x_train, y_train)   
    y_pred = rf.predict(x_test)
    cm = confusion_matrix(y_test, y_pred)
    MSE_rf = mean_squared_error(y_test, y_pred)
    ACC_rf = (cm[0][0] + cm[1][1] + cm[2][2] + cm[3][3]) / (len(y_pred))
    #accuracy = metrics.accuracy_score(test_y, predictions)
    table_rf = [[' ','0', '1', '2', '3'],
             ['0', cm[0][0], cm[0][1], cm[0][2], cm[0][3]],
             ['1', cm[1][0], cm[1][1], cm[1][2], cm[1][3]],
             ['2', cm[2][0], cm[2][1], cm[2][2], cm[2][3]],
             ['3', cm[3][0], cm[3][1], cm[3][2], cm[3][3]]]
    #feature_importances = rf.feature_importances_
    #top5_rf = sorted(feature_importances, reverse=True)[:5]
    importances = pd.DataFrame({'feature':x_train.columns,'importance':np.round(rf.feature_importances_,5)})
    importances = importances.sort_values('importance',ascending=False).set_index('feature')
    
    print("The confusion matrix is:")
    print(tabulate(table_rf, tablefmt="fancy_grid", numalign = "center"))
    print('The Accuracy Rate is', ACC_rf)
    print('The Mean Squared Error is:', MSE_rf)
    print('-------------------------------------------------')
    print('The Classification Report is:')
    print(classification_report(y_test, y_pred))
    print('The Feature Importance is:')
    print(importances)
    #print(feature_importances)
    #print('The Top 5 important features are:')
    #print([(x_train.columns[feature_importances.tolist().index(top5_rf[i])], top5_rf[i]) for i in range(5)])

In [300]:
RandomForest(X_train, Y_train, X_test, Y_test)

/Users/A123/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

The confusion matrix is:
╒═══╤═════╤═════╤══════╤═════╕
│   │  0  │  1  │  2   │  3  │
├───┼─────┼─────┼──────┼─────┤
│ 0 │ 731 │ 524 │ 252  │ 391 │
├───┼─────┼─────┼──────┼─────┤
│ 1 │ 509 │ 711 │ 362  │ 299 │
├───┼─────┼─────┼──────┼─────┤
│ 2 │ 189 │ 394 │ 1134 │ 216 │
├───┼─────┼─────┼──────┼─────┤
│ 3 │ 538 │ 407 │ 466  │ 481 │
╘═══╧═════╧═════╧══════╧═════╛
The Accuracy Rate is 0.40202524986849025
The Mean Squared Error is: 2.0278800631246714
-------------------------------------------------
The Classification Report is:
             precision    recall  f1-score   support

          0       0.37      0.39      0.38      1898
          1       0.35      0.38      0.36      1881
          2       0.51      0.59      0.55      1933
          3       0.35      0.25      0.29      1892

avg / total       0.40      0.40      0.40      7604

The Feature Importance is:
                                          importance
feature
COMPUTED WEIGHT IN KILOGRAMS                 0.07869
STATE FIPS CODE                              0.07175
Cigarette_tax                                0.06977
COMPUTED POTATO SERVINGS PER DAY             0.06331
COMPUTED FRUIT INTAKE IN TIMES PER DAY       0.06194
COMPUTED DARK GREEN VEGETABLE INTAKE IN      0.06094
COMPUTED OTHER VEGETABLE INTAKE IN TIMES     0.05610
COMPUTED FRUIT JUICE INTAKE IN TIMES PER     0.05078
COMPUTED INCOME CATEGORIES                   0.04251
COMPUTED LEVEL OF EDUCATION COMPLETED CA     0.03689
COMPUTED NUMBER OF CHILDREN IN HOUSEHOLD     0.02666
COMPUTED BODY MASS INDEX CATEGORIES          0.02516
300 MINUTE PHYSICAL ACTIVITY CALCULATED      0.02417
COMPUTED MENTAL HEALTH STATUS                0.02414
COMPUTED PHYSICAL HEALTH STATUS              0.02412
HIGH CHOLESTEROL CALCULATED VARIABLE         0.02388
150 MINUTE PHYSICAL ACTIVITY CALCULATED      0.02239
EVER BEEN TESTED FOR HIV CALCULATED VARI     0.02031
PNEUMONIA VACCINATION CALCULATED VARIABL     0.01667
FLU SHOT CALCULATED VARIABLE                 0.01640
HIGH BLOOD PRESSURE CALCULATED VARIABLE      0.01587
CHOLESTEROL CHECKED CALCULATED VARIABLE      0.01553
BINGE DRINKING CALCULATED VARIABLE           0.01396
COMPUTED NUMBER OF DRINKS OF ALCOHOL BEV     0.01309
OVERWEIGHT OR OBESE CALCULATED VARIABLE      0.01273
COMPUTED DRINK-OCCASIONS-PER-DAY             0.01230
COMPUTED RACE-ETHNICITY GROUPING             0.01163
COMPUTED ASTHMA STATUS                       0.01152
COMPUTED RACE GROUPS USED FOR INTERNET P     0.01099
COMPUTED FIVE LEVEL RACE/ETHNICITY CATEG     0.01090
CALCULATED NON-HISPANIC RACE INCLUDING M     0.01079
COMPUTED PREFERRED RACE                      0.01020
HEAVY ALCOHOL CONSUMPTION  CALCULATED VA     0.01003
LIFETIME ASTHMA CALCULATED VARIABLE          0.00857
CURRENT ASTHMA CALCULATED VARIABLE           0.00700
COMPUTED NON-HISPANIC WHITES/ALL OTHERS      0.00637
COMPUTED BODY MASS INDEX                     0.00084
COMPUTED HEIGHT IN INCHES                    0.00068
COMPUTED HEIGHT IN METERS                    0.00043

## 2.2 K-nearest-neighbour Classifier

In [318]:
def KNN(x, y, x_train, y_train, x_test, y_test):
    NN = int(np.sqrt(len(x_train)))
    how = 'distance'
    n_feats = len(x.columns)
    knn = neighbors.KNeighborsClassifier(NN, how)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    cm = confusion_matrix(y_test, y_pred)
    MSE_knn = mean_squared_error(y_test, y_pred)
    ACC_knn = (cm[0][0] + cm[1][1] + cm[2][2] + cm[3][3]) / (len(y_pred))
    table_knn = [[' ','0', '1', '2', '3'],
             ['0', cm[0][0], cm[0][1], cm[0][2], cm[0][3]],
             ['1', cm[1][0], cm[1][1], cm[1][2], cm[1][3]],
             ['2', cm[2][0], cm[2][1], cm[2][2], cm[2][3]],
             ['3', cm[3][0], cm[3][1], cm[3][2], cm[3][3]]]
    
    print("The confusion matrix is:")
    print(tabulate(table_knn, tablefmt="fancy_grid", numalign = "center"))
    print('The Accuracy Rate is', ACC_knn)
    print('The Mean Squared Error is:', MSE_knn)
    print('-------------------------------------------------')
    print('The Classification Report is:')
    print(classification_report(y_test, y_pred))
    #print('Feature  Accuracy')
    #for i in range(n_feats):
        #X = x[:, i].reshape(-1, 1)
        #scores = cross_val_score(knn, x, y)
        #print('%d        %g' % (x.columns[i], scores.mean()))

In [319]:
KNN(X, label, X_train, Y_train, X_test, Y_test)

/Users/A123/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

The confusion matrix is:
╒═══╤═════╤═════╤═════╤═════╕
│   │  0  │  1  │  2  │  3  │
├───┼─────┼─────┼─────┼─────┤
│ 0 │ 450 │ 510 │ 489 │ 449 │
├───┼─────┼─────┼─────┼─────┤
│ 1 │ 400 │ 532 │ 550 │ 399 │
├───┼─────┼─────┼─────┼─────┤
│ 2 │ 314 │ 483 │ 788 │ 348 │
├───┼─────┼─────┼─────┼─────┤
│ 3 │ 427 │ 498 │ 517 │ 450 │
╘═══╧═════╧═════╧═════╧═════╛
The Accuracy Rate is 0.291951604418727
The Mean Squared Error is: 2.3003682272488164
-------------------------------------------------
The Classification Report is:
             precision    recall  f1-score   support

          0       0.28      0.24      0.26      1898
          1       0.26      0.28      0.27      1881
          2       0.34      0.41      0.37      1933
          3       0.27      0.24      0.25      1892

avg / total       0.29      0.29      0.29      7604

## 2.3 Naive Bayes (NB) Classifier

In [369]:
def GNB(x_train, y_train, x_test, y_test):
    gnb = GaussianNB()
    gnb.fit(x_train, y_train)
    y_pred = gnb.predict(x_test)
    cm = confusion_matrix(y_test, y_pred)
    MSE_gnb = mean_squared_error(y_test, y_pred)
    ACC_gnb = (cm[0][0] + cm[1][1] + cm[2][2] + cm[3][3]) / (len(y_pred))
    table_gnb = [[' ','0', '1', '2', '3'],
             ['0', cm[0][0], cm[0][1], cm[0][2], cm[0][3]],
             ['1', cm[1][0], cm[1][1], cm[1][2], cm[1][3]],
             ['2', cm[2][0], cm[2][1], cm[2][2], cm[2][3]],
             ['3', cm[3][0], cm[3][1], cm[3][2], cm[3][3]]]
    
    print("The confusion matrix is:")
    print(tabulate(table_gnb, tablefmt="fancy_grid", numalign = "center"))
    print('The Accuracy Rate is', ACC_gnb)
    print('The Mean Squared Error is:', MSE_gnb)
    print('-------------------------------------------------')
    print('The Classification Report is:')
    print(classification_report(y_test, y_pred))

In [370]:
GNB(X_train, Y_train, X_test, Y_test)

The confusion matrix is:
╒═══╤═════╤═════╤══════╤═════╕
│   │  0  │  1  │  2   │  3  │
├───┼─────┼─────┼──────┼─────┤
│ 0 │ 634 │ 101 │ 541  │ 622 │
├───┼─────┼─────┼──────┼─────┤
│ 1 │ 531 │ 134 │ 649  │ 567 │
├───┼─────┼─────┼──────┼─────┤
│ 2 │ 245 │ 67  │ 1244 │ 377 │
├───┼─────┼─────┼──────┼─────┤
│ 3 │ 431 │ 87  │ 694  │ 680 │
╘═══╧═════╧═════╧══════╧═════╛
The Accuracy Rate is 0.3540241977906365
The Mean Squared Error is: 2.3219358232509206
-------------------------------------------------
The Classification Report is:
             precision    recall  f1-score   support

          0       0.34      0.33      0.34      1898
          1       0.34      0.07      0.12      1881
          2       0.40      0.64      0.49      1933
          3       0.30      0.36      0.33      1892

avg / total       0.35      0.35      0.32      7604

/Users/A123/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 2.4 Random guessing

In [326]:
def Guess(y):
    y_pred = np.random.permutation(y)
    cm = confusion_matrix(y, y_pred)
    MSE_guess = mean_squared_error(y, y_pred)
    ACC_guess = (cm[0][0] + cm[1][1] + cm[2][2] + cm[3][3]) / (len(y_pred))
    table_guess = [[' ','0', '1', '2', '3'],
             ['0', cm[0][0], cm[0][1], cm[0][2], cm[0][3]],
             ['1', cm[1][0], cm[1][1], cm[1][2], cm[1][3]],
             ['2', cm[2][0], cm[2][1], cm[2][2], cm[2][3]],
             ['3', cm[3][0], cm[3][1], cm[3][2], cm[3][3]]]
    
    print("The confusion matrix is:")
    print(tabulate(table_guess, tablefmt="fancy_grid", numalign = "center"))
    print('The Accuracy Rate is', ACC_guess)
    print('The Mean Squared Error is:', MSE_guess)
    print('-------------------------------------------------')
    print('The Classification Report is:')
    print(classification_report(y, y_pred))

In [327]:
Guess(label)

The confusion matrix is:
╒═══╤══════╤══════╤══════╤══════╕
│   │  0   │  1   │  2   │  3   │
├───┼──────┼──────┼──────┼──────┤
│ 0 │ 1471 │ 1423 │ 1421 │ 1445 │
├───┼──────┼──────┼──────┼──────┤
│ 1 │ 1455 │ 1419 │ 1432 │ 1454 │
├───┼──────┼──────┼──────┼──────┤
│ 2 │ 1442 │ 1465 │ 1453 │ 1400 │
├───┼──────┼──────┼──────┼──────┤
│ 3 │ 1392 │ 1453 │ 1454 │ 1461 │
╘═══╧══════╧══════╧══════╧══════╛
The Accuracy Rate is 0.25190972222222224
The Mean Squared Error is: 2.4844618055555556
-------------------------------------------------
The Classification Report is:
             precision    recall  f1-score   support

          0       0.26      0.26      0.26      5760
          1       0.25      0.25      0.25      5760
          2       0.25      0.25      0.25      5760
          3       0.25      0.25      0.25      5760

avg / total       0.25      0.25      0.25     23040

## 2.5 Compare the above results:

RF:
* The Accuracy Rate is 0.40202524986849025
* The Mean Squared Error is: 2.0278800631246714

KNN:
* The Accuracy Rate is 0.291951604418727
* The Mean Squared Error is: 2.3003682272488164

NB:
* The Accuracy Rate is 0.3540241977906365
* The Mean Squared Error is: 2.3219358232509206

Guess:
* The Accuracy Rate is 0.25190972222222224
* The Mean Squared Error is: 2.4844618055555556

Top 10 importance features based on RF:
* COMPUTED WEIGHT IN KILOGRAMS                 
* STATE FIPS CODE                             
* Cigarette_tax                                
* COMPUTED POTATO SERVINGS PER DAY            
* COMPUTED FRUIT INTAKE IN TIMES PER DAY       
* COMPUTED DARK GREEN VEGETABLE INTAKE IN      
* COMPUTED OTHER VEGETABLE INTAKE IN TIMES     
* COMPUTED FRUIT JUICE INTAKE IN TIMES PER     
* COMPUTED INCOME CATEGORIES                   
* COMPUTED LEVEL OF EDUCATION COMPLETED CA

# 3. Build the logit model to do the interpretation

In [338]:
logit = df_categ[['COMPUTED WEIGHT IN KILOGRAMS',
                'STATE FIPS CODE',
                'Cigarette_tax',
                'COMPUTED POTATO SERVINGS PER DAY',
                'COMPUTED FRUIT INTAKE IN TIMES PER DAY',
                'COMPUTED DARK GREEN VEGETABLE INTAKE IN',
                'COMPUTED OTHER VEGETABLE INTAKE IN TIMES',
                'COMPUTED FRUIT JUICE INTAKE IN TIMES PER',
                'COMPUTED INCOME CATEGORIES',
                'COMPUTED LEVEL OF EDUCATION COMPLETED CA',
                'smoke_type']]

In [339]:
y_logit = logit[['smoke_type']]
x_logit = logit.drop(['smoke_type'], axis=1)

In [340]:
x_logit.shape, y_logit.shape

((23040, 10), (23040, 1))

In [363]:
from statsmodels.discrete.discrete_model import MNLogit

In [365]:
mnlogit = MNLogit(y_logit, x_logit).fit()
print(mnlogit.summary())

Optimization terminated successfully.
         Current function value: 1.368636
         Iterations 6
                          MNLogit Regression Results
==============================================================================
Dep. Variable:             smoke_type   No. Observations:                23040
Model:                        MNLogit   Df Residuals:                    23010
Method:                           MLE   Df Model:                           27
Date:                Sat, 08 Dec 2018   Pseudo R-squ.:                 0.01274
Time:                        14:05:48   Log-Likelihood:                -31533.
converged:                       True   LL-Null:                       -31940.
                                        LLR p-value:                5.098e-154
============================================================================================================
                            smoke_type=1       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
COMPUTED WEIGHT IN KILOGRAMS             -8.316e-07   5.54e-06     -0.150      0.881   -1.17e-05       1e-05
STATE FIPS CODE                             -0.0040      0.001     -3.391      0.001      -0.006      -0.002
Cigarette_tax                                0.0273      0.017      1.647      0.100      -0.005       0.060
COMPUTED POTATO SERVINGS PER DAY            -0.0011      0.000     -4.117      0.000      -0.002      -0.001
COMPUTED FRUIT INTAKE IN TIMES PER DAY       0.0012      0.000      6.152      0.000       0.001       0.002
COMPUTED DARK GREEN VEGETABLE INTAKE IN      0.0004      0.000      1.490      0.136      -0.000       0.001
COMPUTED OTHER VEGETABLE INTAKE IN TIMES    -0.0003      0.000     -2.110      0.035      -0.001   -2.24e-05
COMPUTED FRUIT JUICE INTAKE IN TIMES PER    -0.0006      0.000     -2.774      0.006      -0.001      -0.000
COMPUTED INCOME CATEGORIES                  -0.0083      0.011     -0.742      0.458      -0.030       0.014
COMPUTED LEVEL OF EDUCATION COMPLETED CA     0.0289      0.011      2.615      0.009       0.007       0.050
------------------------------------------------------------------------------------------------------------
                            smoke_type=2       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
COMPUTED WEIGHT IN KILOGRAMS             -5.656e-05   5.88e-06     -9.627      0.000   -6.81e-05    -4.5e-05
STATE FIPS CODE                             -0.0033      0.001     -2.736      0.006      -0.006      -0.001
Cigarette_tax                                0.0389      0.017      2.335      0.020       0.006       0.072
COMPUTED POTATO SERVINGS PER DAY            -0.0043      0.001     -7.989      0.000      -0.005      -0.003
COMPUTED FRUIT INTAKE IN TIMES PER DAY       0.0020      0.000     10.498      0.000       0.002       0.002
COMPUTED DARK GREEN VEGETABLE INTAKE IN      0.0012      0.000      4.131      0.000       0.001       0.002
COMPUTED OTHER VEGETABLE INTAKE IN TIMES    -0.0001      0.000     -1.140      0.254      -0.000    9.52e-05
COMPUTED FRUIT JUICE INTAKE IN TIMES PER    -0.0020      0.000     -7.366      0.000      -0.003      -0.001
COMPUTED INCOME CATEGORIES                   0.0050      0.011      0.436      0.663      -0.017       0.027
COMPUTED LEVEL OF EDUCATION COMPLETED CA     0.1946      0.011     17.207      0.000       0.172       0.217
------------------------------------------------------------------------------------------------------------
                            smoke_type=3       coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------------------
COMPUTED WEIGHT IN KILOGRAMS             -2.493e-05   5.68e-06     -4.392      0.000   -3.61e-05   -1.38e-05
STATE FIPS CODE                              0.0016      0.001      1.384      0.166      -0.001       0.004
Cigarette_tax                                0.0472      0.017      2.851      0.004       0.015       0.080
COMPUTED POTATO SERVINGS PER DAY         -5.373e-05      0.000     -0.321      0.748      -0.000       0.000
COMPUTED FRUIT INTAKE IN TIMES PER DAY     1.22e-05      0.000      0.064      0.949      -0.000       0.000
COMPUTED DARK GREEN VEGETABLE INTAKE IN  -8.477e-05      0.000     -0.261      0.794      -0.001       0.001
COMPUTED OTHER VEGETABLE INTAKE IN TIMES    -0.0002      0.000     -1.456      0.145      -0.000    6.48e-05
COMPUTED FRUIT JUICE INTAKE IN TIMES PER    -0.0002      0.000     -0.878      0.380      -0.000       0.000
COMPUTED INCOME CATEGORIES                   0.0016      0.011      0.139      0.890      -0.021       0.024
COMPUTED LEVEL OF EDUCATION COMPLETED CA     0.0517      0.011      4.643      0.000       0.030       0.074
============================================================================================================

## Interpret the coefficient...